<section class="inf">
    <h1 class="titulo">Sobre nosotros</h1>
    <div class="container-column">
        <div class="column">
            <h2>Juegos Exclusivos</h2>
            <h3>Que ofrecemos?</h3>
            <p>Ofrecemos una gran variedad de juegos con precios excelentes para cualquier plataforma cuales son:</p>
            <a href="#" target="_blank"><i class="fa-brands fa-xbox"></i></a>
            <a href="#" target="_blank"><i class="fa-brands fa-playstation"></i></a>
            <a href="#" target="_blank"><i class="fa-solid fa-gamepad"></i></a>
            <p>Con actualizaciones constantes en el apartado de catalogo de videojuegos</p>
        </div>
        <div class="column">
            <h2>Mas informacion</h2>
            <h3>Redes Sociales</h3>
            <p>Podras contactarnos en estas redes sociales:</p>
            <a href="#" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
            <a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="#" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="#" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
            <p>Para solicitar aun mas informacion, por favor ve hasta abajo y manda un mensaje</p>
        </div>
    </div>
</section>

<footer>
<div class="contacto-container">

    <h2>Contacto</h2>

    <form id="contanto-form">
        <input type="text" id="nombre" placeholder="Nombre" required>

        <input type="email" id="email" placeholder="Email" required>

        <textarea id="mensaje" placeholder="Mensaje" required></textarea>

        <button type="submit" class="btn">Enviar</button>
    </form>
</div>
</footer>
